<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config/>

	<!-- CONF SELENIUM -->
	<bean name="driver" class="org.openqa.selenium.chrome.ChromeDriver"/>
	<bean name="seleniumConfig" class="com.cgi.mantisgama.config.SeleniumConfig" factory-method="getInstance">
		<constructor-arg name="webDriver" ref="driver"/>
		<constructor-arg name="pathToDriver" value="D:\\chromedriver.exe"/>
	</bean>
	
	<!-- CONF MANTIS -->
	<bean name="mantisConfig" class="com.cgi.mantisgama.config.MantisConfig" factory-method="getInstance">
		<constructor-arg name="version" value="1.1.6"/>
		<constructor-arg name="urlMantis" value="https://mantis.engie.com/di"/>
	</bean>

</beans>
