<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config/>
	
	<!-- CREDENTIALS -->
	<bean name="oktaCredentials" class="com.cgi.mantisgama.credentials.Credentials">
		<constructor-arg name="login" value=""/>
		<constructor-arg name="password" value=""/>
	</bean>

	<!-- CONF SELENIUM -->
	<bean name="driver" class="org.openqa.selenium.chrome.ChromeDriver"/>
	<bean name="seleniumConfig" class="com.cgi.mantisgama.config.SeleniumConfig" factory-method="getInstance">
		<constructor-arg name="webDriver" ref="driver"/>
		<constructor-arg name="pathToDriver" value="D:\\chromedriver.exe"/>
	</bean>
	
	<!-- CONF MANTIS -->
	<bean name="mantisConfig" class="com.cgi.mantisgama.config.MantisConfig" factory-method="getInstance">
		<constructor-arg name="version" value="1.1.6"/>
		<constructor-arg name="urlMantis" value="https://mantis.engie.com/di"/>
		<property name="urlMantisAllTickets" value="https://mantis.engie.com/di/view_all_bug_page.php"></property>
		<property name="urlMantisAllTicketsPagination" value="https://mantis.engie.com/di/view_all_bug_page.php?page_number="></property>
		<property name="urlMantisDetailTicket" value="https://mantis.engie.com/di/view.php?id="></property>
	</bean>
	
	<!-- CONF API -->
	<bean name="mantisManager" class="com.cgi.mantisgama.services.MantisManagerImpl" factory-method="getInstance">
		<constructor-arg name="seleniumConfig" ref="seleniumConfig"/>
		<constructor-arg name="mantisConfig" ref="mantisConfig"/>
		<constructor-arg name="oktaCredentials" ref="oktaCredentials"></constructor-arg>
	</bean>
	

</beans>
